<!-- navbar.html -->
<nav class="flex justify-between items-center p-4">
    <a href="{% url 'index' %}" class="text-3xl font-bold bettr-text">
        bettr.
    </a>
    <div class="flex items-center space-x-4">
        <input type="text" placeholder="Search" class="p-2 rounded text-white"
               style="width: 650px; background-color: #1d2b39;">
        {% if user.is_authenticated %}
            <div class="text-white">Welcome, {{ user.username }}!</div>
        {% else %}
            <button onclick="openLoginModal()" class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded">
                Login
            </button>
            <button onclick="openSignupModal()" class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded">Sign
                Up
            </button>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="relative">
            <div class="text-3xl cursor-pointer hamburger-icon">☰</div>  <!-- Hamburger Menu -->
            <div id="dropdown" class="dropdown-menu">
            <a href="{% url 'notifications' %}"
               class="block px-4 py-2 text-left w-full hover:bg-gray-700">Notification</a>
            <a href="{% url 'bet' %}" class="block px-4 py-2 text-left w-full hover:bg-gray-700">Make a Bet</a>
            <a href="{% url 'my_bets' %}" class="block px-4 py-2 text-left w-full hover:bg-gray-700">My Bets</a>
            <a href="{% url 'wallet' %}" class="block px-4 py-2 text-left w-full hover:bg-gray-700">Wallet</a>
            <a href="{% url 'profile' %}" class="block px-4 py-2 text-left w-full hover:bg-gray-700">Profile</a>

            <a href="{% url 'logout' %}" class="block px-4 py-2 text-left w-full hover:bg-gray-700">Logout</a>
        {% else %}

        {% endif %}
        </div>
        </div>
    </div>
</nav>

